:root {
    --cream: #F4EFE6;
    --espresso: #3B2418;
    --terracotta: #C96B3B;
    --mustard: #D4A72C;
}

body {
    background: var(--cream);
    font-family: Arial, sans-serif;
    color:#333;
}

.navbar {
    padding:20px;
}

h1,
h2,
h3 {
    font-family:Georgia,serif;
    color: var(--espresso);
}

.btn {
    background: var(--terracotta);
    color: white;
    border-radius: 30px;
    padding: 12px 25px;
}

.btn-warning {
    background:var(--terracotta);
    border:none;
    color:white;
}

.card {
    border:none;
    overflow: hidden;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    transition:.3s;
}
.card:hover {
    transform:translateY(-8px);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card h3 {
    color: var(--espresso);
}

.menu-card span {
    background: var(--mustard);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

footer {
    background:var(--espresso)!important;
}

.hero {
    min-height: 70vh;
    background:
        linear-gradient(rgba(59, 36, 24, 0.65), rgba(59, 36, 24, 0.65)),
        url("../images/cafe.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    color: white;
    font-size: 60px;
}

.hero p {
    font-size: 22px;
    color: white;
}

.gallery-card {
    background:white;
    padding:20px;
    border-radius:20px;
    height:100%;
}

.gallery-card img {
    height:300px;
    width:100%;
    object-fit:cover;
    margin-bottom:20px;
}


body,
.card,
.navbar,
.btn,
input,
textarea {
    transition: background-color .4s ease, color .4s ease, border-color .4s ease;
}

.dark-mode {
    background:#181512;
    color:#eeeeee;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3 {
    color:#f3c892;
}

.dark-mode p {
    color:#dddddd;
}

.dark-mode .card {
    background:#25201c;
    color:white;
}

.dark-mode input,
.dark-mode textarea {
    background:#302820;
    color:white;
    border:1px solid #5b4635;
}
.dark-mode input:focus,
.dark-mode textarea:focus {
    background:#302820;
    color:white;
}
.dark-mode input::placeholder,
.dark-mode textarea::placeholder {
    color:#ccc;
}

.dark-mode footer {
    background:#0d0b09!important;
}

@media(max-width:768px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }
}
